.header{
    background-color:$primary;
    font-size: $font-size-base-h6;
    line-height: $line-height-base;
    padding: 30px 88px;
    @include pad{
        padding: 30px 39px;
    }
    @include mobile{
        padding:0;
        flex-direction: column;
    }
    h1 a{
        display: block;
        background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/logo.png');
        background-position: center;
        background-size: cover;
        width: 80px;
        height: 49px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        @include mobile{
            max-width: 48px;
            height: 29px;
            margin: 10px 0;
        }
    }
    .nav-menu{
        @include mobile{
            flex-wrap: wrap;
            width: 100%;
        }
        li{
            margin-left: 64px;
            a{
                padding: 8px 0;
            }
            @include pad{
                margin-left: 40px;
            }
            @include mobile{
                margin: 0;
                padding: 10px 0;
                width: 50%;
                border: 1px solid #FFFFFF;
                &:nth-child(odd){
                    border-left: none;
                }
                &:nth-child(even){
                    border-right: none;
                }
            }
        }
    }
}


