.banner{
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
    @include mobile{
        height: 394px;
    }
    .container{
        height: 100%;
    }
}

.profession{
    background: $secondary;
    padding-top: 64px;
    @include mobile{
        padding-top: 32px;
    }
    padding-bottom: 80px;
    @include mobile{
        padding-bottom: 32px;
    }
    .container{
        width: 100%;
    }
    h2{
        margin-bottom: 64px;
        @include mobile{
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    ul{
        @include mobile{
            max-width: 300px;
            margin: 0 auto;
        }
    }
    li{
        width: 20%;
        @include pad{
            width: 35%;
        }
        @include mobile{
            width: 100%;
            margin-bottom: 40px;
        }
    }

    li img{
        margin-bottom: 40px;
    }

}

.classic{
    padding-top: 64px;
    padding-bottom: 80px;
    @include mobile{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .mobileicon{
        display: none;
        @include mobile{
            display: block;
            width: 32px;
            margin-right: 8px;
        }
    }
    .classic-title{
        margin-bottom: 64px;
        @include mobile{
            margin-bottom: 32px;
        }
        @include mobile{
            margin-bottom: 20px;
        }
    }
    .product-title{
        margin-left: 30px;
    }
    li{
        position: relative;
        margin-bottom: 32px;
        &:nth-child(2){
            flex-direction: row-reverse;
            @include pad{
                flex-direction: row;
                .padicon{
                    margin-left: 30px;
                }
            }
            .product-title{
                margin-left: 0;
                margin-right: 30px;
            }
        }
        img{
            @include pad{
                max-width: 390px;
            }
        }
        @include mobile{
            .classic-pic{
                width: 100%;
                margin: 0 auto;
                position: relative;
            }
            .padicon{
                display: none;
            }
            .product-title{
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50% , -50%);
                h2{
                    color: white;
                }
            }
        }
    }
}

.design{
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 80px;
    @include mobile{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .design-title{
        margin-bottom: 64px;
        @include pad{
            margin-bottom: 32px;
        }
        @include mobile{
            margin-bottom: 20px;
        }
    }
    .container{
        width: 100%;
    }
    .double-bg{
        background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png) center center no-repeat;
        width: 540px;
        height: 472px;
        position: relative;
        background-size: cover;
        @include pad{
            width: 330px;
            height: 280px;
        }
        @include mobile{
            width: 345px;
            height: 284px;
            margin-bottom: 16px;
        }
    }
    .youth-bg{
        background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png) center center no-repeat;
        width: 540px;
        height: 472px;
        position: relative;
        background-size: cover;
        @include pad{
            width: 330px;
            height: 280px;
        }
        @include mobile{
            width: 345px;
            height: 284px;
        }
    }
    .opacity-bg{
        background: #fff;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        &:hover{
            visibility: hidden;
        }
    }
    ul{
        @include pad{
            justify-content: space-around;
        }
        @include mobile{
            flex-wrap: wrap;
        }
    }


    h5{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 72px;
    }
}

.customer{
    padding-top: 64px;
    padding-bottom: 64px;
    @include mobile{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    h2{
        margin-bottom: 60px;
        @include pad{
            margin-bottom: 32px;
        }
        @include mobile{
            margin-bottom: 20px;
        }
    }
    ul{
        @include pad{
            width: 100%;
            flex-wrap: wrap;
        }
    }
    li{
        margin-right: 30px;
        @include pad{
            margin-right: 0;
        }
        border: 1px solid #DEE2E6;
        &:nth-child(4){
            margin-right: 0px;
        }
        @include pad{
            width: 47%;
        }
        @include mobile{
            width: 100%;
        }
    }
    .content{
        padding: 0 16px 16px;
    }
    img{
        margin-bottom: 14px;
        @include pad{
            width: 100%;
        }
    }
    h6{
        font-size: 14px;
        color: #212529;
        margin-bottom: 7px;
    }
    p{
        margin-bottom: 10px;
    }
    span{
        font-size: 14px;
        color: #707070;
        margin-bottom: 15px;
    }
}

.contact{
    background: $secondary;
    padding-top: 64px;
    padding-bottom: 96px;
    .container{
        max-width: 730px;
    }
    h2{
        margin-bottom: 24px;
    }
    p{
        font-size: 20px;
        margin-bottom: 20px;
        @include mobile{
            font-size: 16px;

        }
    }
    input[type="text"], textarea {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 16px;
        padding: 14px 16px;
        border: 1px solid #000;
        background-color: transparent;
    }

    textarea {
        resize: none;
        height: 136px;
    }

    input[type="checkbox"]+label {
        display: block;
        padding-left: 4px;
        margin-bottom: 42px;
    }

    input[type="submit"] {
        background: #AA0601;
        padding: 16px 54px;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        border: none;
    }
    .checkbox{
        margin-bottom: 42px;
    }

}