.d-block{
    display: block;
  }
  
  .d-flex{
    display: flex;
  }
  
  .flex-column{
    flex-direction: column;
  }
  
  .justify-content-between{
    justify-content: space-between;
  }
  
  .justify-content-center{
    justify-content: center;
  }
  
  .justify-content-around{
    justify-content: space-around;
  }
  
  .align-items-center{
    align-items: center;
  }
  
  .align-items-baseline{
    align-items: baseline;
  }
  
  .align-items-end{
    align-items: flex-end;
  }
  
  .flex-wrap{
    flex-wrap: wrap;
  }
  
  .text-white{
    color: #ffffff;
  }
  
  .text-primary-dark{
    color: $primary-dark;
  }
  
  .text-primary{
    color: $primary;
  }
  
  .text-dark{
    color: #000000;
  }
  
  .text-align-center{
    text-align: center;
  }
  
  .text-align-right{
    text-align: right;
  }
  
  .text-bold{
    font-weight: bold;
  }
  
  .text-italic{
    font-style: italic;
  }
  
  .ml-8{
    margin-left: 8px;
  }
  
  .h-100{
    height: 100%;
  }